--extra-index-url https://download.pytorch.org/whl/cpu

Flask==3.0.3
flask-cors==4.0.1
python-dotenv==1.0.1
pymongo==4.8.0
bcrypt==4.2.0
PyJWT==2.9.0
PyPDF2==3.0.1
numpy<2.0
scipy==1.11.4
torch==2.3.1
transformers==4.41.2
huggingface_hub==0.24.6
sentence-transformers==3.0.1
scikit-learn==1.5.1
spacy==3.7.5
gunicorn==22.0.0